.oversiktContainer__alertstripe {
  margin: 1em 0;
  display: flex;
}

.Sokeresultat__container {
    flex: 1;
}

.oversiktContainer__innhold {
    display: flex;

    .sokeresultatFilter {
        min-width: 16rem;
        margin-right: 32px;
    }
}